@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DoAn1_DDG_Pro.Models
@{
    ViewData["Title"] = "ViewOrder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmins.cshtml";
}
@model IEnumerable<OrderDetails>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th> OrderCode </th>
                          <th> CustomerName </th>
                          <th> Email </th>
                          <th> SDT </th>
                          <th> Product </th>
                          <th> Address </th>
                          <th> Price </th>
                          <th> Quantity </th>
                          <th> PaymentMethod </th>
                          <th> Description </th>

                        </tr>
                      </thead>
                      <tbody>

                         
                        @foreach (var item in Model) {
                        <tr>
                <td> @Html.DisplayFor(modelItem => item.OrderCode)</td>
                <td> @Html.DisplayFor(modelItem => item.CustomerName)</td>
                <td> @Html.DisplayFor(modelItem => item.UserName)</td>
                <td> @Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td> @Html.DisplayFor(modelItem => item.Product)</td>
                <td> @Html.DisplayFor(modelItem => item.Address)</td>
                <td> @Html.DisplayFor(modelItem => item.Price)</td>
                <td> @Html.DisplayFor(modelItem => item.Quantity)</td>
                <td> @Html.DisplayFor(modelItem => item.PaymentMethod)</td>
                <td> @Html.DisplayFor(modelItem => item.Description)</td>
                         
                        </tr>
                       }
                      </tbody>
                    </table>
               