@using DoAn1_DDG_Pro.Models.ViewModels;
@model CartItemViewModels


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_LayoutDDG.cshtml";
}
@{
}
<div class="wrapper-mainCart">
	<div class="content-bodyCart">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-12 col-12 contentCart-detail">
						<div class="mainCart-detail">
							<h1 class="heading-cart">Giỏ hàng của bạn</h1>
						@if (Model.CartItems.Count > 0)
									{
							<div class="list-pageform-cart">
								<form action="/cart" method="post" id="cartformpage">
									<div class="cart-row">
										<p class="title-number-cart">
											Bạn đang có <strong class="count-cart">@Model.CartItems.Count.ToString() sản phẩm</strong> trong giỏ hàng
										</p>
									
										@foreach (var item in Model.CartItems)
										{


											<div class="table-cart">
												<div class="media-line-item line-item" data-variant-id="1104775471" data-product-id="1046473322">
													<div class="media-left">
														<div class="item-img">
															<a href="/products/pc-ttg-csgo-valorant-pubg-fifa-lol-rx550-full-new-bao-hanh-36-thang">
																<img src="~/Media/main/@item.Imgtop">
															</a>
														</div>
														<div class="item-remove">
															<a asp-controller="Cart" asp-action="Remove" asp-route-ProductId="@item.ProductId" class="cart">Xóa</a>
														</div>
													</div>
													<div class="media-right">
														<div class="item-info">
															<h3 class="item--title"><a href="">@item.ProductName</a></h3>

														</div>
														<div class="item-price">
															<p>
																<a>@item.Price.ToString("#,###") VND</a>



															</p>
														</div>
													</div>
													<div class="media-total">
														<div class="item-total-price">
															<div class="price">
																<span class="line-item-total">@Model.CartItems.Where(x => x.ProductId == @item.ProductId).Sum(x => x.Quantity * x.Price).ToString("#,###")</span>
															</div>
														</div>
														<div class="item-qty">
															<div class="qty quantity-partent qty-click clearfix">
																<a type="button" class="qtyminus qty-btn" asp-controller="Cart" asp-action="Giam" asp-route-ProductId="@item.ProductId">
																	<svg width="18" height="18" viewBox="0 0 20 20"  > <rect height="1" width="18" y="9" x="1"></rect></svg>
																</a>


																<input type="text" value="@item.Quantity" autocomplete="off" class="tc line-item-qty item-quantity">



																<a type="button" class="qtyplus qty-btn" asp-controller="Cart" asp-action="Tang" asp-route-ProductId="@item.ProductId">
																	<svg width="18" height="18" viewBox="0 0 20 20" > <rect x="9" y="1" width="1" height="17"></rect> <rect x="1" y="9" width="17" height="1"></rect></svg>
																</a>
															</div>
														</div>
													</div>
												</div>

											</div>


										}
									
									
										</div>
						
								</form>
							</div>
							}
							else
							{
								<div class="expanded-message">Giỏ hàng của bạn đang trống</div>
							}
						</div>
					</div>

					<div class="col-lg-4 col-md-12 col-12 sidebarCart-sticky">
						<div class="wrap-order-summary">
							<div class="order-summary-block">
								<h2 class="summary-title">Thông tin đơn hàng</h2>



								<div class="summary-total">
									<p>Tổng tiền: <span>@Model.Total.ToString("#,###")</span></p>
								</div>
								<div class="summary-action">
									<p>Phí vận chuyển sẽ được tính ở trang thanh toán.</p><p>Bạn cũng có thể nhập mã giảm giá ở trang thanh toán.</p><p>Bạn cũng có thể nhập mã giảm giá ở trang thanh toán.</p>									<div class="summary-alert alert alert-danger ">
										Giỏ hàng của bạn hiện chưa đạt mức tối thiểu để thanh toán.
									</div>
								</div>
								<div class="summary-button">
								@if (User.Identity?.IsAuthenticated ?? false)
								{
									<a id="btnCart-checkout" class="checkout-btn btnred " asp-action="OrderForm">THANH TOÁN </a>
								}
								

								</div>
							</div>
							<div class="order-summary-block order-summary-notify ">
								<div class="summary-warning alert-order">
									<p class="textmr"><strong>Chính sách mua hàng</strong>:</p>
									<p>Hiện chúng tôi chỉ áp dụng thanh toán với đơn hàng có giá trị tối thiểu <strong>40.000₫ </strong> trở lên.</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			




			</div>
		
		
    </div>
</div>